<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curry Programming Language</title>
  <meta name="description" content="A Truly Integrated Functional Logic Programming Language">

  <!-- Open Graph -->
  <meta property="og:title" content="Curry Programming Language">
  <meta property="og:description" content="A Truly Integrated Functional Logic Programming Language">
  <meta property="og:image" content="https://curry-lang.org/assets/img/curry-social-wide.png">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en">

  <!-- Styles -->
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.1.4/dist/tailwind.min.css" integrity="sha384-P1ywvnMmN+Azcym7yWmx9nlcYa3XTTEVcybwaNJY2szVm1rK0cjaxC+21s+4ag+p" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/svg+xml" sizes="any" href="assets/img/curry.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/curry-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/curry-16x16.png">
  <link rel="manifest" href="assets/img/site.webmanifest">
  <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#aa0000">

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10" integrity="sha384-8t+aLluUVnn5SPPG/NbeZCH6TWIvaXIm/gDbutRvtEeElzxxWaZN+G/ZIEdI/f+y" crossorigin="anonymous" defer></script>
  <script src="assets/js/app.js" defer></script>
</head>
<body>
  <div id="app">
    <header class="fixed top-0 w-full z-10 shadow">
      <nav class="flex flex-wrap items-center justify-between bg-white p-3">
        <div class="flex items-center mr-6">
          <img class="mr-2" width="32px" height="32px" src="assets/img/curry.svg">
          <span class="font-semibold text-xl">{{ title }}</span>
        </div>
        <div class="block md:hidden">
          <button class="flex items-center px-3 py-2 border border-primary rounded text-primary hover:bg-primary hover:text-white" @click="toggleNav">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z">
            </svg>
          </button>
        </div>
        <div :class="showNav ? 'block' : 'hidden'" class="w-full flex-grow md:w-auto md:flex md:items-center">
          <div class="text-sm md:flex md:justify-end md:flex-grow">
            <a v-for="link in navLinks" v-bind:href="link.url" class="block mt-4 mr-0 text-primary text-right underline md:inline-block md:mt-0 md:mr-4">{{ link.title }}</a>
          </div>
          <div class="flex justify-end text-sm md:block">
            <a class="inline-block px-4 py-2 mt-4 bg-primary border border-primary rounded leading-none text-white hover:bg-red hover:border-red hover:shadow-md md:mt-0" v-bind:href="downloadsUrl">Downloads</a>
          </div>
        </div>
      </nav>
    </header>
    <main class="pt-16">
      <section class="px-6 pt-4 md:pt-6">
        <div class="flex flex-col max-w-2xl mx-auto sm:flex-row md:max-w-3xl">
          <img class="h-24 w-24 mx-auto sm:h-40 sm:w-40 md:h-56 md:w-56 sm:mr-6" src="assets/img/curry.svg">
          <div class="flex flex-col my-auto">
            <h1 class="w-full text-4xl font-bold leading-tight text-center sm:text-left md:text-6xl">{{ title }}</h1>
            <span class="text-2xl inline-block text-red text-center sm:text-3xl sm:text-left md:text-4xl ">{{ subtitle }}</span>
          </div>
        </div>
      </section>
      <section class="flex justify-center flex-col px-6 bg-primary">
        <div class="font-mono mx-auto text-xs sm:text-base">
          <span class="block comment">-- | Returns the last element.</span>
          <span class="func">last</span> <span class="symbol">::</span> <span class="symbol">[</span><span class="ident">a</span><span class="symbol">]</span> <span class="symbol">-&gt;</span> <span class="ident">a</span>
          <br>
          <span class="func">last</span> <span class="ident">xs</span> <span class="symbol">|</span> <span class="ident">ys</span> <span class="func">++</span> <span class="symbol">[</span><span class="ident">x</span><span class="symbol">]</span> <span class="func">=:=</span> <span class="ident">xs</span> <span class="symbol">=</span> <span class="ident">x</span>
          <br>
          <span class="block keyword">&nbsp;&nbsp;where</span>
          <span class="ident">&nbsp;&nbsp;&nbsp;&nbsp;x</span><span class="symbol">,</span> <span class="ident">ys</span> <span class="keyword">free</span>
        </div>
      </section>
      <section class="px-6">
        <div class="max-w-2xl mx-auto text-center md:max-w-3xl">
          <p class="text-gray-600 leading-relaxed text-lg">{{ description }}</p>
          <div class="flex mt-4 justify-center">
            <a class="rounded-lg px-4 py-3 border border-red text-red font-semibold leading-tight hover:bg-red hover:text-white md:text-lg xl:text-base" href="#">Downloads</a>
            <a class="rounded-lg px-4 py-3 ml-4 border border-blue text-blue font-semibold leading-tight hover:bg-blue hover:text-white md:text-lg xl:text-base" href="#">Try It!</a>
          </div>
        </div>
      </section>
      <section class="flex justify-center flex-col px-8 bg-primary">
        <div class="inline-block mx-auto">
          <h1 class="text-4xl font-semibold text-center text-white">Features</h1>
          <div class="marker bg-blue"></div>
        </div>
        <div class="features">
          <div v-for="feat in features">
            <h2 class="font-bold text-2xl mb-2 text-white text-center">{{ feat.title }}</h2>
            <p class="text-white text-base text-center">{{ feat.text }}</p>
            <div class="mt-4 mx-4">
              <a class="inline-block w-full text-center rounded-lg px-4 py-2 bg-blue border-2 border-blue text-white font-semibold hover:border-white md:text-lg xl:text-base" v-bind:href="feat.learnMore">Learn More</a>
            </div>
          </div>
        </div>
      </section>
      <section class="px-6">
        <div class="max-w-2xl mx-auto text-center md:max-w-3xl">
          <p class="text-gray-600 leading-relaxed text-lg">{{ description }}</p>
        </div>
      </section>
      <section class="flex justify-center flex-col px-8 bg-primary">
        <div class="inline-block mx-auto">
          <h1 class="text-4xl font-semibold text-center text-white">Features</h1>
          <div class="marker bg-red"></div>
        </div>
        <div class="features">
          <div v-for="feat in features">
            <h2 class="font-bold text-2xl mb-2 text-white text-center">{{ feat.title }}</h2>
            <p class="text-white text-base text-center">{{ feat.text }}</p>
            <div class="mt-4 mx-4">
              <a class="inline-block w-full text-center rounded-lg px-4 py-2 bg-red border-2 border-red text-white font-semibold hover:border-white md:text-lg xl:text-base" v-bind:href="feat.learnMore">Learn More</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="w-full px-6 pb-6 bg-secondary text-center">
      <p class="text-white">© 1995–2019 Curry Team | <a class="hover:underline" href="#">Data Privacy</a></p>
    </footer>
  </div>
</body>
</html>