:root {
  --curry-blue-color: #181f6f;
  --curry-red-color: hsl(0, 100%, 33%);
  --primary-color: hsl(215, 15%, 60%);
  --text-primary: hsl(215, 15%, 45%);
  --secondary-color: hsl(215, 10%, 100%);
  --code-bg-color: #f8f8f8; /*Source https://github.com/tejasbubane/hakyll-css/blob/master/css/tango.css*/

  --pragma-color: hsl(0, 28%, 42%);
  --comment-color: hsl(0, 0%, 42%);
  --keyword-color: hsl(222, 80%, 49%);
  --symbol-color: hsl(344, 51%, 43%);
  --type-color: hsl(224, 69%, 31%);
  --cons-color: hsl(330, 66%, 70%);
  --label-color: hsl(240, 66%, 70%);
  --func-color: hsl(284, 32%, 32%);
  --ident-color: hsl(0, 0%, 15%);
  --module-color: hsl(20, 66%, 70%);
  --number-color: hsl(180, 55%, 66%);
  --string-color: hsl(229, 39%, 42%);
  --char-color: hsl(196, 35%, 37%);
}

a[rel*="external"]::after {
}

body {
  min-width: 320px;
}

.bg-blue,
.hover\:bg-blue:hover {
  background-color: var(--curry-blue-color);
}

.bg-red,
.hover\:bg-red:hover {
  background-color: var(--curry-red-color);
}

.bg-primary,
.hover\:bg-primary:hover {
  background-color: var(--primary-color);
}

.bg-secondary,
.hover\:bg-secondary:hover {
  background-color: var(--secondary-color);
}

.bg-code,
.hover\:bg-code:hover {
  background-color: var(--code-bg-color);
}

.border-blue,
.hover\:border-blue:hover {
  border-color: var(--curry-blue-color);
}

.border-red,
.hover\:border-red:hover {
  border-color: var(--curry-red-color);
}

.border-primary,
.hover\:.border-primary:hover {
  border-color: var(--primary-color);
}

.border-secondary,
.hover\:.border-secondary:hover {
  border-color: var(--secondary-color);
}

.features {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
}

.footer-grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;
}

.marker {
  height: 1.5rem;
  left: -1rem;
  position: relative;
  top: -1.5rem;
  width: calc(100% + 3rem);
  z-index: -1;
}

.wp-3rem {
    width: calc(100% + 3rem);
}

.feature-outer {
    max-width: 1950px;
}

.features-column {
  min-height: 225px;
  color: #fff;
}

.eco-column {
  min-height: 200px;
  color: #fff;
}

.slanted {
  clip-path: polygon(0% 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  -webkit-clip-path: polygon(0% 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  margin-top: -2rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.slanted-bottom {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  padding-bottom: 3.5rem;
}

.slanted-top {
  clip-path: polygon(0% 2rem, 100% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 2rem, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -2rem;
  padding-top: 3.5rem;
}

.table-colored tbody > tr:nth-child(odd) {
  background-color: #F7FAFC
}

.text-blue,
.hover\:text-blue:hover  {
  color: var(--curry-blue-color);
}

.text-red,
.hover\:text-red:hover {
  color: var(--curry-red-color);
}

.text-primary,
.hover\:.text-primary:hover {
  color: var(--primary-color);
}

.text-on-primary,
.hover\:.text-on-primary:hover {
  color: var(--text-primary)
}

.text-secondary,
.hover\:.text-secondary:hover {
  color: var(--secondary-color);
}

.text-7xl {
  font-size: 5rem;
}

.downloads {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: auto;
}

.main-top {
    display: grid;
    grid-template-columns: auto;
}

@media (min-width: 640px) {
  .sm\:text-10xl {
    font-size: 8rem;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 681px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 895px) {
  .downloads {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 1081px) {
    .main-example {
      clip-path: polygon(0% 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
      -webkit-clip-path: polygon(0% 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
      margin-top: -2rem;
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      background-color: var(--code-bg-color)
    }
}

@media (min-width: 1082px) {
    .main-top {
        display: grid;
        grid-template-columns: repeat(2, auto);
        /*max-width: 1950px;*/
    }
}

@media (min-width: 1024px) {
    .footer-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1415px) {
    .features {
        grid-template-columns: repeat(4, 1fr);
        /*max-width: 1950px;*/
    }
}
