<div class="md:max-w-3xl">
    <p class="text-lg text-on-primary leading-relaxed mb-4">The development of Curry is an international
        initiative intended to provide a common platform for the research, teaching and application of integrated
        functional logic languages. The design of Curry is mainly discussed in the Curry mailing list. A detailed report
        describing the language is also available. To get an idea of Curry, you may have a look into the short list of
        Curry's features or a tutorial on Curry.</p>
    <div class="flex flex-col justify-center sm:flex-row">
        <a class="text-primary border border-primary rounded-lg font-semibold leading-tight mx-auto px-4 py-3 hover:bg-primary hover:text-white sm:mx-0"
           href="https://www.curry-lang.org/docs/report/">Curry Report</a>
        <a class="text-primary border border-primary rounded-lg font-semibold leading-tight mx-auto mt-4 px-4 py-3 hover:bg-primary hover:text-white sm:ml-4 sm:mr-0 sm:mt-0"
           href="various/features/">Features</a>
        <a class="text-primary border border-primary rounded-lg font-semibold leading-tight mx-auto mt-4 px-4 py-3 hover:bg-primary hover:text-white sm:ml-4 sm:mr-0 sm:mt-0"
           href="https://www.curry-lang.org/docs/tutorial/">Tutorial</a>
        <a class="text-primary border border-primary rounded-lg font-semibold leading-tight mx-auto mt-4 px-4 py-3 hover:bg-primary hover:text-white sm:ml-4 sm:mr-0 sm:mt-0"
           href="various/mailinglist/">Mailing List</a>
    </div>
</div>
