<footer class="slanted-top bg-secondary px-6 pb-6">
  <div class="footer-grid text-primary md:max-w-2xl lg:max-w-4xl mx-auto mb-12">
    $for(footer_categories)$
      $for(categorie)$
        <div>
          <ul>
            <h2 class="text-center md:text-left font-bold text-lg">$title$</h2>
            $for(links)$
              <li class="flex justify-center md:justify-start">
                <a class="text-sm hover:underline"$if(desc)$ title="$desc$"$endif$ href="$url$">$title$</a>
              </li>
            $endfor$
          </ul>
        </div>
      $endfor$
    $endfor$
  </div>
  <div>
    <p class="text-primary text-center text-sm">
      <a class="hover:underline" href="/">© 1995–2024 Curry Team</a> | <a class="hover:underline" href="/imprint/">Imprint</a> | <a class="hover:underline" href="/privacy/">Data Privacy</a>
    </p>
  </div>
</footer>
