<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$$if(no-dash)$$else$ - $endif$Curry Programming Language</title>
    <meta name="description" content="A Truly Integrated Functional Logic Programming Language">
    <meta name="keywords" content="Curry KiCS Pakcs Pakcs2 Currygle Currgle CPM CurryDoc Spicey CASS COOSy CurryBrowser CurryWiki programming language software documentation download free open source functional logic">

    <!-- Open Graph -->
    <meta property="og:title" content="$if(title)$ $title$ - $endif$Curry Programming Language">
    <meta property="og:description" content="A Truly Integrated Functional Logic Programming Language">
    <meta property="og:image" content="https://curry-lang.org/assets/img/curry-social-wide.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en">

    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/markdown.css">
    <!-- Issue #8 Source https://github.com/tejasbubane/hakyll-css/blob/master/css/tango.css -->
    <link rel="stylesheet" href="/assets/css/tango.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/assets/img/curry-cc-by.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/curry-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/curry-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="black">
    <meta name="msapplication-TileColor" content="white">
    <meta name="theme-color" content="white">

    <!-- Scripts -->
    <script src="/assets/js/app.js" defer></script>
</head>
