<div class="md:max-w-3xl">
    <p class="text-lg text-on-primary leading-relaxed mb-4">Curry is a <span class="font-bold">declarative multi-paradigm programming language</span>
        which combines in a seamless way features from
        <span class="font-bold">functional programming</span>
        (nested expressions, higher-order functions, strong typing, lazy evaluation)
        and <span class="font-bold">logic programming</span>
        (non-determinism, built-in search, free variables, partial data structures).
        Compared to the single programming paradigms, Curry provides
        additional features, like optimal evaluation for logic-oriented
        computations and flexible, non-deterministic pattern matching
        with user-defined functions.
    </p>
</div>
