<div class="md:max-w-3xl">
    <p class="text-center text-lg text-on-primary leading-relaxed mb-4">Curry is a <span class="font-bold">universal programming language</span>
        which combines the most important declarative programming paradigms, namely <span class="font-bold">functional programming</span>
        and <span class="font-bold">logic programming</span>. Moreover, it also covers the most important operational
        principles developed in the area of integrated functional logic languages: residuation and narrowing.</p>
</div>
