<section class="slanted flex justify-center px-6">
    <div class="md:max-w-3xl">
        $partial("templates/small_lore_ipsum.html")$
        <p class="text-center text-lg text-on-primary leading-relaxed mt-4">Lorem ipsum dolor sit amet, consectetur
            adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text-center text-lg text-on-primary leading-relaxed mt-4">Lorem ipsum dolor sit amet, consectetur
            adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>