<section class="slanted flex justify-center px-6">
    <div class="md:max-w-3xl">
        <p class="text-center text-lg text-on-primary leading-relaxed mt-4">
           This web site is managed by the
           <a class="block mt-4 mr-0 text-on-primary underline md:inline-block md:mt-0" href="https://www.ps.informatik.uni-kiel.de/en"
                      target="_blank" rel="noopener noreferrer">Compiler Construction and Programming Languages Group</a> at Kiel University.
          The
          <a class="block mt-4 mr-0 text-on-primary underline md:inline-block md:mt-0" href="https://www.uni-kiel.de/en/data-protection"
                      target="_blank" rel="noopener noreferrer">data privacy statement</a>
          of the Kiel University also applies to this web site.</p>
    </div>
</section>
