<div>
    <div class="flex justify-center mt-12">
        <table class="table-auto table-colored">
            <caption class="mb-4">
                <h1 class="text-center text-4xl font-bold leading-tight"><a class="hover:underline" href="$system_link$">$name$</a></h1>
                <h2 class="text-center text-xl font-semibold">$long_name$</h2>
                (<a class="hover:underline" href="$instructions$">Installation Instructions</a>)
            </caption>
            <thead>
            <tr>
                <th class="border px-4 py-2" scope="col">Version</th>
                <th class="border px-4 py-2" scope="col">Assets</th>
            </tr>
            </thead>
            <tbody>
            $for(versions)$
                $partial("templates/version_entry.html")$
            $endfor$
            </tbody>
        </table>
    </div>
    <div class="flex justify-center mt-6">
        <a class="font-semibold leading-tight hover:underline"
           href="$old_releases$">Older $name$ Releases …</a>
    </div>
</div>