<tr>
    <td class="border px-4 py-2">$version$</td>
    <td class="border px-4 py-2">
        <a class="block underline" href="$source$" target="_blank"
           rel="external noopener noreferrer">Source Code (requires GHC)</a>
        $if(linux)$<a class="block underline" href="$linux$" target="_blank"
                      rel="external noopener noreferrer">Linux / x86_64 (64-bit)</a>$endif$
        <a class="block underline" href="$manual$" target="_blank"
           rel="external noopener noreferrer">Manual</a>
    </td>
</tr>