<div class="md:max-w-3xl mx-auto">
    <p class="text-center text-lg text-secondary leading-relaxed mb-4">
        There are more than <a class="block mt-4 mr-0 text-secondary underline md:inline-block md:mt-0" href="http://www-ps.informatik.uni-kiel.de/~cpm/">100 packages available</a> (including more than 600 modules).
        There is a <a class="block mt-4 mr-0 text-secondary underline md:inline-block md:mt-0" href="http://www-ps.informatik.uni-kiel.de/~cpm/">table of all packages</a> with more detailed information (e.g., API documentation).
        These packages can immediately be downloaded or installed when CPM is installed (see below).
    </p>
</div>