<div class="md:max-w-3xl mx-auto">
    <p class="text-lg text-on-primary leading-relaxed mb-4">
        CPM is already part of recent distributions of the Curry systems <a
            class="block mt-4 mr-0 text-on-primary underline md:inline-block md:mt-0" href="http://www.informatik.uni-kiel.de/~pakcs/"
            target="_blank" rel="noopener noreferrer">PAKCS</a> (Version 1.15.0 or higher) and
        <a class="block mt-4 mr-0 text-on-primary underline md:inline-block md:mt-0" href="http://www-ps.informatik.uni-kiel.de/kics2/"
           target="_blank" rel="noopener noreferrer">KiCS2</a> (Version 0.6.0 or higher).
        If you have some older version of PAKCS or KiCS2, you can also install CPM from its public repository.
        The installation requires that one of the Curry systems PAKCS or KiCS2 is installed and the executables curry and git are in your path (if curry is not in your path,
        you can also specify the root location of your Curry system by modifying the definition of CURRYROOT in the Makefile before executing make in step 3).
        Then perform the following steps to install CPM:
    </p>
    <p class="text-lg text-on-primary leading-relaxed mb-4">
        $partial("code/cpm/installation.bash.md")$
    </p>
    <p class="text-lg text-on-primary leading-relaxed mb-4">
        If this was successful, the binary cypm has been generated in the directory ~/.cpm/bin.
        This is also the directory where CPM installs binaries of applications distributed as packages.
        For convenient use, you should add the directory ~/.cpm/bin to your path.
        Alternatively, you can also put the binary ~/.cpm/bin/cypm somewhere in your path or create a symbolic link from some path directory to this binary.
    </p>
</div>