<div class="md:max-w-3xl mx-auto">
    <p class="text-center text-lg text-on-primary leading-relaxed mb-4">
        For further information, look into the <a
            class="block mt-4 mr-0 text-on-primary underline md:inline-block md:mt-0"
            href="https://www-ps.informatik.uni-kiel.de/currywiki/_media/tools/cpm/manual.pdf">manual of CPM</a>.
    </p>
    <p class="text-center text-lg text-on-primary leading-relaxed mb-4">
        A detailed description about CPM and its implementation can be found in the following thesis:
    </p>
    <p class="text-center text-lg text-on-primary leading-relaxed mb-4">
        <a class="block mt-4 mr-0 text-on-primary underline md:inline-block md:mt-0"
           href="https://www.informatik.uni-kiel.de/~mh/lehre/abschlussarbeiten/msc/Oberschweiber.pdf">A Package Manager
            for Curry (Jonas Oberschweiber, CAU Kiel, September 2016)</a>
    </p>
</div>