<div class="md:max-w-3xl mx-auto">
    <p class="text-center text-lg text-on-primary leading-relaxed mb-4">
        The Curry Package Manager (CPM) is a tool to distribute and install Curry libraries and applications and manage
        version dependencies between them. These libraries are organized in packages. There is a central index of all
        these packages which can easily be downloaded by CPM. The individual packages are currently not stored in a
        central server but their source can be anywhere. CPM organizes the automatic access to appropriate versions of
        these packages so that a user does not need to know about these details.
    </p>
    <p class="text-center text-lg text-on-primary leading-relaxed mb-4">
        CPM also supports semantic versioning, i.e., it is able to check whether a new minor version of a package is
        consistent (w.r.t. its API and behavior) with a previous version of the same package.
    </p>
</div>