<div class="md:max-w-3xl mx-auto">
    <p class="text-lg text-secondary leading-relaxed mb-4">
        Now you can clone a copy of the central package index repository by
    </p>
    <p>
        $partial("code/cpm/cypm_update.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        Afterwards, you can show a short list of all packages in this index by
    </p>
    <p>
        $partial("code/cpm/cypm_list.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        The command
    </p>
    <p>
        $partial("code/cpm/cypm_info.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        can be used to show more information about a package.
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        In order to use a package in your Curry program which you intend to develop, you have to start a new project.
        Note that your project can also contribute to the Curry packages. Therefore, to initialize it and use other
        packages, you need a package description file in some project directory. All this can be created by the command
        cypm new:
    </p>
    <p>
        $partial("code/cpm/cypm_new.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        This command creates a new project directory myproject containing an initial package description file
        package.json and a subdirectory src (together with other template files). Change into the new project directory:
    </p>
    <p>
        $partial("code/cpm/cd.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        If you need some other packages for your project, add them as a dependency in package.json. Then run
    </p>
    <p>
        $partial("code/cpm/cypm_install.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        to install all dependencies of the current package. Afterwards, start your interactive Curry environment by
    </p>
    <p>
        $partial("code/cpm/cypm_curry.bash.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        and you will be able to load the modules of the current package as well as all dependent packages. In
        particular, the source directory src is added to your path so that you can directly load any program you have
        stored in this directory. For instance, if the module Main.curry is stored in the directory src, you can load it
        into your Curry system (e.g., KiCS2 or PAKCS) by
    </p>
    <p>
        $partial("code/cpm/cypm_curry_load.bash.md")$
    </p>
</div>