<div class="md:max-w-3xl mx-auto">
    <p class="text-lg text-secondary leading-relaxed mb-4">
        Currently, there is no support for automatically uploading and publishing new packages. However, if you have
        developed some package that might be of interest to other Curry users, please send the package as a tar or zip
        file to
    </p>
    <p>
        $partial("code/cpm/address.md")$
    </p>
    <p class="text-lg text-secondary leading-relaxed mb-4">
        in order to make it publicly available.
    </p>
</div>